@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Medium.woff2") format("woff2"), url("../fonts/DancingScript-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-SemiBold.woff2") format("woff2"), url("../fonts/DancingScript-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.primary-color-bg {
    background-color: #f7f7f7;
}

.secondary-color-bg {
    background-color: #ffffff;
}

.content {
    color: #313131;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    flex-grow: 1;
}

.main>aside {
    flex-basis: 20%;
    min-width: 220px;
}

.main-content {
    min-width: 700px;
    flex-basis: 80%;
    flex-shrink: 10;
}

.main-color {
    color: #e0aacd;
}

.main-color-emphasized {
    color: #ab4f8b;
}

.main-color-emphasizedThin {
    color: #b95596;
    font-weight: 100;
}

.font-secondary {
    font-family: 'Dancing Script', cursive;
}

.section {
    overflow: auto;
}

.container {
    margin: auto;
    width: 700px;
}

.container-grid {
    display: grid;
    grid-gap: 20px;
}

.container-grid-thirds {
    grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 1280px) {
    .container-grid-thirds {
        display: block;
    }
}

.container-grid-halves {
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1280px) {
    .container-grid-halves {
        display: block;
    }
}

.aside {
    border: 1px solid #e0aacd;
}

.aside-list {
    list-style-type: none;
}

.aside ul {
    margin: 0px;
    padding: 0px;
}

.navigation {
    padding: 10px;
}

.centered-container {
    text-align: center;
}

.container-floated {
    float: left;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container-aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-container.aside {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.flex-container-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fixed-container {
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    top: 30%;
    right: 0%;
    /*transform: translate(-50%, -50%);*/
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    color: #e0aacd;
    text-decoration: none;
    outline: none;
}

.link.current {
    text-decoration: underline;
}

a:hover {
    color: #ab4f8b;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-distributed {
    justify-content: space-around;
}

.menu-item {
    text-transform: uppercase;
    padding: 20px;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ab4f8b;
}

.scaled-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.scaled-image-fixed {
    display: block;
    width: 200px;
}

.frame {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    align-self: center;
    display: flex;
    justify-content: center;
}

.frame-link {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.link-image {
    height: 100%;
    box-sizing: border-box;
}

.item-image {
    height: 100%;
    box-sizing: border-box;
}

.item-image {
    height: 100%;
    box-sizing: border-box;
}

.item-title {
    margin: 0px;
}

.badge-image {
    width: auto;
    height: 150px;
    float: right;
}

.news-title {
    font-size: 30px;
}


.infobox {
    padding-left: 40px;
    background-position: top left;
    background-size: 30px auto;
    background-repeat: no-repeat;
    margin: 0 0 0.5em 0;
    overflow: auto;
}

.infobox-aside {
    padding-left: 40px;
    padding-right: 15px;
    background-position: top left;
    background-size: 30px auto;
    background-repeat: no-repeat;
    margin: 0 0 0.5em 10px;
    overflow: auto;
}

.infobox-marginless {
    margin-bottom: 0;
}

.infobox-item {
    box-sizing: border-box;
    padding-left: 0px;
    width: 200px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.infobox-news {
    background-image: url("../images/news-icon.png");
}

.infobox-calendar {
    background-image: url("../images/calendar-icon.png");
}

.infobox-copyright {
    background-image: url("../images/copyright-icon.png");
}

.infobox-inventory {
    background-image: url("../images/scale.png");
}

.infobox-delivery {
    background-image: url("../images/truck.png");
}

.infobox-flower {
    background-image: url("../images/flower-icon.png");
}

.infobox-truck {
    background-image: url("../images/truck.png");
}

.infobox-scale {
    background-image: url("../images/scale.png");
}

.infobox-title {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.infobox-subtitle {
    margin: 0.5em 0 0.5em 0;
}

.infobox-content {
    margin: 0 0.5em;
}

.infobox-link {
    box-sizing: border-box;
    padding-left: 0px;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.infobox-title-secondary-color {
    color: #ffffff;
}

.separator {
    width: 200px;
    margin: auto;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #e0aacd;
    border-radius: 5px;
    background-image: url("../images/dot.png");
    background-size: 10px;
    background-repeat: repeat-x;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}